<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<h3>注册</h3>
			<form th:action="@{/register}" th:method="post">

				<!--<button type="submit" class="btn btn-warning">Register</button>-->

				<div class="form-group">
					<label for="username">Username:</label>
					<input name="username" type="text" class="form-control" id="username" placeholder="username" required="required" >
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input name="password" type="password" class="form-control" id="password" placeholder="password" required="required">
				</div>
				<div class="form-group" align="right">
					<!--<button type="submit" class="btn btn-warning">Login</button>-->
					<input type="submit" class="btn btn-warning" value="Sign up" />
					<!--<a href="/register">没有账号? 点我注册</a>-->
					 <a href="/login">已有账号? 点击登录 </a>
				</div>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>


</body>
</html>